*{margin: 0;
  padding: 0;}
html, body{height: 100%;
   /*background-image: url("../imagem/danie.jpg");*/
   background-color: rgb(242,233, 178);
   background-size: 100%; 
   background-repeat: no-repeat;}

li{
  display: block;
  display: inline;
  
}

li a{
  text-decoration: none;
  padding:2px 140px;
  
}

/* IDs*/

#menu{
  width: 1000px;
  margin: auto;
  height: 55px;
  list-style: none;
  padding-top: 25px;
  }

#antes_menu{
  height: 200px;
  background-repeat: no-repeat;
  background-image: url("../imagem/logo2.jpg");
  margin: auto;
  width: 1000px;
  background-size: 100%;
  border-radius: 20PX;
}

#menu a{
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(240, 85,80);
  
}
  
/* Classes */
.longo_menu{
  background-color: rgba(240, 85,80, 25%);
}

.conteudo{
  background-color: rgba(169, 270,72, 50%);
  background-attachment: fixed;
  background-size:cover;
  margin: auto;
  width: 1000px;
  
}

.footer{
  background-color: rgba(240, 85,80, 25%);
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  margin-bottom: 1px;
  
}

.footer p {
  margin: auto;
  width: 1000px;
  height: 100px;
  text-align: center;
  

  
}

.conteudo{
  height: 100%;
}
